@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
body {
    font-family: 'Questrial', sans-serif;
}

h1 {
    font-family: 'Questrial', sans-serif;
    font-weight: bold;
}

.uk-container.uk-container-expand {
    margin-top: 25px;
    width: 100%;
    height: auto;
    background-color: rgb(155, 187, 247);
}

img.uk-align-center {
    width: 200px;
}

p {
    margin-top: -20px;
}

img {
    width: 100px;
}

.uk-container.uk-container-expand {
    width: 100%;
    background-color: #45aaf2;
}

h5 {
    font-size: 10px;
    font-family: 'Questrial', sans-serif;
    color: white;
}

h4 {
    color: #666;
}